@media only screen and (min-width: 0px) {
  .seInteressouPeloProjeto {
    font-size: 53%;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 72.1875em;
    margin: 12em auto;
    flex-direction: row;
  }
  .heading {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 32.5625em;
    gap: 3em;
  }

  .heading h1 {
    font-family: Poppins, sans-serif;
    font-size: 2.2500em;
  }

  .heading span {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2.5000em;
    width: 36em;
  }

  .form textarea {
    font-size: 1em;
  }

  .form input {
    height: 4em;
    font-size: 1em;
  }

  .form span {
    display: flex;
    flex-direction: row;
    gap: 2.5000em;
    justify-content: space-between;
  }

}

@media only screen and (min-width: 768px) {
  .seInteressouPeloProjeto {
    font-size: 53%;
  }
}
@media only screen and (min-width: 1080px) {
  .seInteressouPeloProjeto {
    font-size: 75%;
  }
}

@media only screen and (min-width: 1280px) {
  .seInteressouPeloProjeto {
    font-size: 89%;
  }
}
 
@media only screen and (min-width: 1440px) {
  .seInteressouPeloProjeto {
    font-size: 100%;
  }
}

@media only screen and (min-width: 1920px) {
  .seInteressouPeloProjeto {
    font-size: 133%;
  }
}
