@media only screen and (min-width: 360px) {
  .vaDeCaronae {
    font-size: 96%;
    position: relative;
    display: block;
    margin: 4em auto;
    padding: 0;
    width: 20.9375em;
    height: 30.9888em;
    border-radius: 0.5063em;
    background-color: #2B388A;
  }

  .callToAction {
    position: relative;
    width: 12em;
    margin: 4em auto;
  }

  .callToAction h1, .callToAction h2 {
    position: relative;
    padding: 0;
    margin: 0.25em 0;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    color: #FFF;
  }

  .callToAction h1 {
    font-size: 1.5em;
  }

  .callToAction h2 {
    font-size: 0.75em;
  }
  
  .circleOuter {
    position: relative;
    margin: auto;
    top: 1.6203em;
    padding: 0;
    width: 17.6969em;
    height: 17.6969em;
    border-radius: 50%;
    background-color: #324099;
  }

  .circleInner {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2.5em;
    align-items: center;
    margin: auto;
    top: 1.6203em;
    width: 14.1016em;
    height: 14.1016em;
    border-radius: 50%;
    background-color: #3E4B9A;
  }

  .cornerRoad {
    position: absolute;
    width: 2.5000em;
    height: 2.5000em;
    background-color: #171717;
    border-radius: 0 0.7500em 0 0.7500em;
    left: 1.2500em;
    top: 26.5000em;
  }

  .cornerRoad::after {
    position: absolute;
    content: "";
    width: 1.2500em;
    height: 1.2500em;
    background-color: #2B388A;
    border-radius: 0 0 0 0.7500em;
    left: 1.2500em;
  }

  .verticalRoad, .horizontalRoad {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #171717;
    border-radius: 0.500em;
  }

  .verticalRoad {
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    width: 1.2500em;
    height: 12.5000em;
    left: 1.2500em;
    top: 15.5000em;
  }

  .horizontalRoad {
    justify-content: space-between;
    padding: 0 1em;
    width: 9.0000em;
    height: 1.2500em;
    left: 10.0000em;
    top: 27.7500em;
  }

  .verticalDash {
    position: relative;
    width: 0.1250em;
    height: 1.2500em;
    border-radius: 0.1250em;
    background-color: #FFF;
  }

  .horizontalDash {
    position: relative;
    width: 1.2500em;
    height: 0.1250em;
    border-radius: 0.1250em;
    background-color: #FFF;
    left: .5em
  }

  .appStoreButton, .playStoreButton {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #171717;
    width: 3.7500em;
    height: 1.2500em;
    border-radius: 0.1250em;
    top: 27.7500em;
  }

  .appStoreButton {
    left: 3.0000em;
  }

  .playStoreButton {
    left: 7.5em;
  }

  .appStoreButton img, .playStoreButton img {
    width: 0.7500em;
    height: 100%;
  }

  .buttonSmallText, .buttonLargeText {
    font-family: "Karla", sans-serif;
    color: #FFF;
  }

  .buttonSmallText {
    font-size: 0.2625em;
  }

  .buttonLargeText {
    font-size: 0.3938em;
  }

  .peopleIcon, .shieldIcon, .leafIcon, .carIcon {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .peopleIcon {
    background-color: #EB72AC;
    height: 2.0369em;
    width: 3.2362em;
    border-radius: 4.5256em;
    top: 1.5em;
    left: 0.4em;
  }

  .peopleIcon img {
    height: 0.6em;
    width: 100%;
  }

  .shieldIcon {
    background-color: #6E361F;
    height: 2.3537em;
    width: 2.3537em;
    border-radius: 6.5256em;
    top: 8.5em;
    left: .6em;
  }

  .shieldIcon img {
    width: 0.65em;
    height: 100%;
  }

  .leafIcon {
    background-color: #17B270;
    width: 2.25em;
    height: 2.25em;
    border-radius: 6em;
    top: 1.25em;
    left: 10.75em;
  }

  .leafIcon img {
    width: 0.7em;
  }

  .carIcon {
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: #ED8024;
    border-radius: 5.8750em;
    width: 4.3750em;
    height: 2.1875em;
    padding: 0 2.2em;
    top: 10em;
    left: 8.5em;
    z-index: 2;
  }

  .carImg {
    width: 1.5em;
    height: 100%;
  }

  .windImg {
    position: relative;
    width: 1em;
    height: 100%;
    top: 0.14em;
  }

  .iphoneFront, .iphoneSide {
    z-index: 1;
  }

  .iphoneFront img {
    width: 4.8244em;
    height: 100%;
  }

  .iphoneSide img {
    width: 3.9094em;
    height: 100%;
  }
}

@media only screen and (min-width: 375px) {
  font-size: 100%;
}

@media only screen and (min-width: 412px) {
  .vaDeCaronae {
    font-size: 110%;
  }
}

@media only screen and (min-width: 768px) {
  .vaDeCaronae {
    font-size: 45%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin: 4em auto;
    padding: 0;
    width: 85.5000em;
    height: 40.0625em;
    border-radius: 1.2500em;
    background-color: #2B388A;
  }

  .callToAction {
    font-size: 270%;
    position: relative;
    margin: 0 0 0 2em;
  }

  .circleOuter {
    font-size: 250%;
    position: relative;
    margin: 0 1em 0 0;
    top: 1em;
    padding: 0;
    width: 17.6969em;
    height: 17.6969em;
    border-radius: 50%;
    background-color: #324099;
    z-index: 2;
  }

  .horizontalRoad {
    font-size: 250%;
    justify-content: space-between;
    padding: 0 1em;
    width: 9.0000em;
    height: 1.2500em;
    left: 11em;
    top: 11em;
    z-index: 1;
  }

  .cornerRoad {
    font-size: 250%;
    left: 1.7em;
    top: 11em;
    rotate: 90deg;
    z-index: 1;
  }

  .verticalRoad {
    font-size: 250%;
    left: 1.7em;
    top: 11em;
    z-index: 3;
  }

  .playStoreButton {
    font-size: 250%;
    left: 8.5em;
    top: 11em;
    z-index: 2;
  }

  .appStoreButton {
    font-size: 250%;
    left: 3.4em;
    top: 11em;
    z-index: 2;
  }
}

@media only screen and (min-width: 1080px) {
  .vaDeCaronae {
    font-size: 62.94%;
  }
}

@media only screen and (min-width: 1280px) {
  .vaDeCaronae {
    font-size: 75%;
 }
}
 
@media only screen and (min-width: 1440px) {
  .vaDeCaronae {
    font-size: 84.5%;
  }
}

@media only screen and (min-width: 1920px) {
  .vaDeCaronae {
    font-size: 111.7%;
  }
}
