@media only screen and (min-width: 0px) {
  .vaDeCaronae {
    font-size: 44.5%;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 6.25em;
    margin-bottom: 6.25em;
    width: 86em;
    height: 40em;
    border-radius: 1.25em;
    background-color: rgb(43, 56, 138);
  }

  .heading {
    position: absolute;
    top: 14em;
    left: 4em;
  }

  .heading h1 {
    font-family: Karla, sans-serif;
    font-weight: 700;
    color: rgb(254, 254, 254);
    font-size: 3.75em;
  }

  .heading h2 {
    font-family: Karla, sans-serif;
    font-weight: 700;
    color: rgb(254, 254, 254);
    font-size: 2em;
  }

  .circleOuter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2em;
    left: 41em;
    width: 44em;
    height: 44em;
    border-radius: 50%;
    background-color: rgb(50, 64, 153);
  }

  .circleInner {
    position: relative;
    display: flex;
    width: 35em;
    height: 35em;
    border-radius: 50%;
    background-color: rgb(62, 75, 154);
  }

  .storeButton {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 23, 23);
    width: 9em;
    height: 3.1em;
    border-radius: 0.3em;
  }

  .storeButton img {
    width: 1em;
  }

  .buttonSmallText {
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-family: Karla, sans-serif;
    font-size: .625em;
    font-weight: 700;
    color: rgb(254, 254, 254);
  }

  .buttonLargeText {
    margin: 0;
    padding: 0;
    line-height: 100%;
    letter-spacing: -0.03em;
    font-family: Karla, sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: rgb(254, 254, 254);
  }

  .roads {
    position: absolute;
    display: flex;
    top: 26.5em;
    left: 3.75em;
    border-radius: 0.3em;
    flex-direction: row;
  }

  .verticalRoad {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.2em;
    background-color: rgb(23, 23, 23);
    width: 5em;
    height: 16em;
    border-radius: 1.25em 0 0 0;
  }

  .verticalDash {
    position: relative;
    background-color: rgb(255, 255, 255);
    left: 1em;
    top: 3.75em;
    height: 3.1em;
    width: .375em;
    border-radius: .375em;
  }

  .verticalRoadBackground {
    position: absolute;
    background-color: rgb(43, 56, 138);
    top: 3.125em;
    left: 2.5em;
    border-radius: 1.25em 0 0 0;
    width: 2.5em;
    height: 12.5em;
  }

  .horizontalRoad {
    position: relative;
    display: flex;
    gap: 2.2em;
    background-color: rgb(23, 23, 23);
    height: 3.125em;
    width: 22em;
    border-radius: 0 1.25em 1.25em 0;
  }

  .horizontalDash {
    position: relative;
    background-color: rgb(255, 255, 255);
    left: 1em;
    top: 1.375em;
    height: .375em;
    width: 3.125em;
    border-radius: .375em;
  }

  .iphoneFront {
    position: absolute;
    left: 52em;
    top: 7.5em;
  }

  .iphoneSide {
    position: absolute;
    left: 66em;
    top: 10em;
  }

  .iphoneFront img {
    width: 12.5em;
  }

  .iphoneSide img {
    width: 9.5em;
  }

  .peopleIcon {
    position: absolute;
    top: 5em;
    left: 47em;
    display: flex;
    background-color: rgb(235, 114, 172);
    align-items: center;
    justify-content: center;
    height: 5.625em;
    width: 8.75em;
    min-width: 5.625em;
    border-radius: 5.625em;
  }

  .peopleIcon img {
    width: 2.5em;
  }

  .shieldIcon {
    position: absolute;
    top: 25em;
    left: 47.5em;
    display: flex;
    background-color: rgb(110, 54, 31);
    align-items: center;
    justify-content: center;
    height: 5.625em;
    width: 5.625em;
    min-width: 5.625em;
    border-radius: 5.625em;
  }

  .shieldIcon > img {
    width: 2.3em;
  }

  .leafIcon {
    position: absolute;
    top: 6.9em;
    left: 74em;
    display: flex;
    background-color: rgb(23, 178, 112);
    align-items: center;
    justify-content: center;
    height: 5.625em;
    width: 5.625em;
    min-width: 5.625em;
    border-radius: 5.625em;
  }

  .leafIcon img {
    width: 1.7em;
  }

  .carIcon {
    position: absolute;
    top: 28.75em;
    left: 67.5em;
    display: flex;
    background-color: rgb(237, 128, 36);
    align-items: center;
    justify-content: center;
    height: 5.625em;
    width: 11.25em;
    min-width: 5.625em;
    border-radius: 5.625em;
  }

  .carIcon img {
    width: 3em;
  }
}

@media only screen and (min-width: 768px) {
  .vaDeCaronae {
    font-size: 44.5%;
  }
}

@media only screen and (min-width: 1080px) {
  .vaDeCaronae {
    font-size: 62.94%;
  }
}

@media only screen and (min-width: 1280px) {
  .vaDeCaronae {
    font-size: 75%;
 }
}
 
@media only screen and (min-width: 1440px) {
  .vaDeCaronae {
    font-size: 84%;
  }
}

@media only screen and (min-width: 1920px) {
  .vaDeCaronae {
    font-size: 111.7%;
  }
}
